body {
  padding-top: 50px;
  padding-left: 50px;
}

.form-group {
    margin-bottom: 4px}

.page-header{
    margin-top: 30px;
    padding-bottom: 0px;
}

.anchorspace{
    padding-top: 60px;
    margin-top: -60px;}




