body {
  padding-top: 50px;
  padding-left: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-group {
    margin-bottom: 4px}


.anchorspace{
    padding-top: 60px;
    margin-top: -60px;}




