<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <link rel="icon"
        type="image/png"
        href="../static/sock-icon.png">

        <title>Sock Generator</title>



        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!-- Custom styles for this template -->
        <link href="../static/websock.css" rel="stylesheet">





    </head>
    <body>

    <div class="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Sock Generator</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>

                <li class="dropdown">
                  <a href="/links" class="dropdown-toggle" data-toggle="dropdown">Useful Links<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="/links">All links</a></li>
                      <li class="divider"></li>
                      <li><a href="/links#Basic">Sock construction</a></li>
                      <li><a href="/links#Provisional">Provisional cast ons</a></li>
                      <li><a href="/links#magicloop">Magic loop knitting</a></li>
                      <li><a href="/links#shortrows">Short rows</a></li>
                      <li><a href="/links#castoffs">Stretchy cast offs</a></li>
                  </ul>
                </li>




              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>


    {% block content %}

        Need to define a block!

    {% endblock content %}


    <div class="row page-header"></div>
      <div class="row page-header">
         <div class="col-sm-11">
            <p>About me: I'm rebkwok on <a href="http://www.ravelry.com/designers/becky-smith">Ravelry</a> and <a href="https://twitter.com/rebkwok">Twitter</a>.</p>
        </div>
     </div>

    </div> <!--/end of page .wrap -->

  </body>


<!----Javascript ------->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<!----Google Analytics ------->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52786107-1', 'auto');
      ga('send', 'pageview');

    </script>

</html>