{% extends "_base.html" %}


{% block content %}

    <div class="row">
        <div class="page-header">
            <div class="col-sm-11">
            <h2>Sock Pattern Generator</h2>
                <p>
                   A knitting pattern generator for socks to fit feet of any size!  These socks are knit toe-up with a short-row
                    toe and heel. <br><br>
                    This is a very basic recipe for making a sock, and assumes you are already familiar with sock-making in
                    general and with techniques such as provisional cast on and short rows.  Choose your preferred method
                    or take a look at the <a href="/links">useful links</a> page. <br><br>
                    No particular stitch pattern is suggested for the sock instep or leg.  Choose your own after you finish the toe.
                    A simple ribbing pattern always works well. <br><br>
                    <strong>Warning!</strong> If you are using a stitch pattern, make sure your pattern repeat divides
                    evenly into your total stitches.  Your total stitches will be twice the number of stitches you cast on
                    for the toe.
                </p>
            </div>
        </div>
    </div>

      <div class="row page-header">
         <div class="col-sm-11">
            <h3>Yarn and foot details</h3>
        </div>
     </div>

        <form class="row form-horizontal" role="form" action="/pattern" method="get">
            <div class="col-sm-6">
            <div class="form-group">
                <label for="input units" class="col-sm-3 control-label">Units</label>
                <div class="col-sm-3">
                    <!--
                    <select class="form-control" name="units" onchange="this.form.submit()"> -->
                    <select class="form-control" name="units">
                        <option value="inches" {% if units == 'inches' %}selected{% endif %} >Inches</option>
                        <option value="cms" {% if units == 'cms' %}selected{% endif %}>Centimetres</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="horizontal gauge" class="col-sm-3 control-label">Horizontal gauge</label>
                <div class="col-sm-3">
                    <input class="form-control" name="stitches" type="text" STYLE="background-color:{{ st_color }}" value="{{ stitches }}">
                </div>
                <span class="help-block">Stitches per
                    {% if units == 'inches' %}4"{% else %}10 cm{% endif %}</span>
            </div>
            <div class="form-group">
                <label for="vertical gauge" class="col-sm-3 control-label">Vertical gauge</label>
                <div class="col-sm-3">
                    <input class="form-control" name="rows" type="text" STYLE="background-color:{{ r_color }}" value="{{ rows }}">
                </div>
                <span class="help-block">Rows per
                    {% if units == 'inches' %}4"{% else %}10 cm{% endif %}</span>
            </div>
            <div class="form-group">
                <label for="circumference" class="col-sm-3 control-label">Circumference</label>
                <div class="col-sm-3">
                    <input class="form-control" name="circum" type="text" STYLE="background-color:{{ c_color }}" value="{{ circum }}">
                </div>
                <span class="help-block">Circumference around widest part of foot in
                {{ units }}</span>
            </div>
            <div class="form-group">
                <label for="foot length" class="col-sm-3 control-label">Foot length</label>
                <div class="col-sm-3">
                    <input class="form-control" name="foot_length" type="text" STYLE="background-color:{{ fl_color }}" value="{{ foot_length }}">
                </div>
                <span class="help-block">Length of foot in {{ units }}</span>
            </div>
            <div class="form-group">
                <label for="ease" class="col-sm-3 control-label">Ease</label>
                <div class="col-sm-3">
                    <input class="form-control" name="ease" type="text" STYLE="background-color:{{ e_color }}" value="{{ ease }}">
                </div>
                <span class="help-block">Ease as % of total number of stitches (default is -8%)</span>
            </div>
                <div class="btn-group-sm">
                    <label class="col-sm-3 control-label"></label>
                    <button type="submit" class="btn btn-info">Generate Pattern</button>
                    <a class="btn btn-info" href="/">Reset Form</a>
                </div>
             </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="..\static\socks.jpg">
            </div>
        </form>



{% endblock content %}
