{% extends "_base.html" %}


{% block content %}

      <div class="page-header">
        <h2>Customised Sock Pattern Generator</h2>

        <p>
           A knitting pattern generator for socks to fit feet of any size!  These socks are knit toe-up with a short-row
            toe and heel.
        </p>

      </div>

      <div class="page-header">
        <h3>Yarn and foot details</h3>
      </div>

        <form class="row form-horizontal" role="form" action="/pattern" method="get">
            <div class="col-sm-6">
            <div class="form-group">
                <label for="input units" class="col-sm-3 control-label">Units</label>
                <div class="col-sm-3">
                    <select class="form-control" name="units" onchange="this.form.submit()">
                        <option value="inches" {% if units == 'inches' %}selected{% endif %} >Inches</option>
                        <option value="cms" {% if units == 'cms' %}selected{% endif %}>Centimetres</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="horizontal gauge" class="col-sm-3 control-label">Horizontal gauge</label>
                <div class="col-sm-3">
                    <input class="form-control" name="stitches" type="text" STYLE="background-color:{{ st_color }}" value="{{ stitches }}">
                </div>
                <span class="help-block">Stitches per
                    {% if units == 'inches' %}4"{% else %}10 cm{% endif %}</span>
            </div>
            <div class="form-group">
                <label for="vertical gauge" class="col-sm-3 control-label">Vertical gauge</label>
                <div class="col-sm-3">
                    <input class="form-control" name="rows" type="text" STYLE="background-color:{{ r_color }}" value="{{ rows }}">
                </div>
                <span class="help-block">Rows per
                    {% if units == 'inches' %}4"{% else %}10 cm{% endif %}</span>
            </div>
            <div class="form-group">
                <label for="circumference" class="col-sm-3 control-label">Circumference</label>
                <div class="col-sm-3">
                    <input class="form-control" name="circum" type="text" STYLE="background-color:{{ c_color }}" value="{{ circum }}">
                </div>
                <span class="help-block">Circumference around widest part of foot in
                {{ units }}</span>
            </div>
            <div class="form-group">
                <label for="foot length" class="col-sm-3 control-label">Foot length</label>
                <div class="col-sm-3">
                    <input class="form-control" name="foot_length" type="text" STYLE="background-color:{{ fl_color }}" value="{{ foot_length }}">
                </div>
                <span class="help-block">Length of foot in {{ units }}</span>
            </div>
            <div class="form-group">
                <label for="ease" class="col-sm-3 control-label">Ease</label>
                <div class="col-sm-3">
                    <input class="form-control" name="ease" type="text" STYLE="background-color:{{ e_color }}" value="{{ ease }}">
                </div>
                <span class="help-block">Ease as % of total number of stitches (default is -8%)</span>
            </div>
                <div class="btn-group-sm">
                    <label class="col-sm-3 control-label"></label>
                    <button type="submit" class="btn btn-info">Generate Pattern</button>
                    <a class="btn btn-info" href="/">Reset Form</a>
                </div>
             </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10510199_10152501043943162_393726851_n.jpg?oh=1f754248fd18c2ef32345282329e8732&oe=53C0BEBF&__gda__=1405131054_d17db2f6c3bd7e6a18f881ca79b27bf4">
            </div>
        </form>



{% endblock content %}
