{% extends "_base.html" %}


{% block content %}

      <div class="page-header">
        <h2>Useful links and tutorials</h2>
       </div>
          <ul>
              <li><a href="#Provisional">Provisional cast ons</a></li>
              <li><a href="#magicloop">Magic loop knitting</a></li>
              <li><a href="#shortrows">Short rows</a></li>
              <li><a href="#castoffs">Stretchy cast offs</a></li>
              <li><a href="http://techknitter.blogspot.co.uk/2010/04/revised-unified-index-for.html">Techknitter</a>:
                  a great resource for anything knitting related</li>

          </ul>


    <div id="Provisional">
          <h3 class="anchorspace">Provisional Cast Ons</h3>
          <h4>Judy's Magic Cast On</h4>
          <p>My personal favourite provisional cast on for toe up socks is
              <a href="http://www.knitty.com/ISSUEspring06/FEATmagiccaston.html">Judy's magic cast-on</a>, which involves
            two circular needles but no faffing with unzipping waste yarn.  You cast on over two needles, leave
          half the stitches hanging on the cable of one needle while you knit your short-row toe, and when you're done with
          the toe, just pick up the second needle and carry on knitting.</p>
          <iframe width="560" height="315"
                  src="//www.youtube.com/embed/1pmxRDZ-cwo" frameborder="0" allowfullscreen>
            </iframe>

          <p>


          <h4>Knitted provisional cast on with waste yarn</h4>
                <iframe width="560" height="315"
                            src="//www.youtube.com/embed/rZCYXM-39qA" frameborder="0" allowfullscreen>
                </iframe>

          <h4>Crochet chain cast on with waste yarn</h4>
          Step by step tutorial <a href="http://knitty.com/ISSUEwinter02/FEATtiptoptoes.html">here.</a>

          <h4>Turkish cast on</h4>
            <p>The <a href="http://fluffyknitterdeb.blogspot.co.uk/2005/10/knitting-made-easier-turkish-cast-on.html">
                Turkish cast on</a> is similar to Judy's Magic Cast On in that it uses two circular needles (or one long one),
                but I find it more fiddly.</p>

          <iframe width="560" height="315" src="//www.youtube.com/embed/KUl3uPfg4JY" frameborder="0" allowfullscreen></iframe>

      </div>

      <div id="magicloop">
          <h3 class="anchorspace">Magic loop knitting</h3>
          <p>
              Of course, you can knit your socks one at a time on 4 double pointed needles, but I prefer to make my socks
              two at a time using the magic loop method.  It avoids having to count rows to make sure you make both your
              socks the same, and means that that feeling of satisfaction when you finish one sock isn't marred by having to
              start again on the second one :).</p>

           <p>Here's a tutorial on magic loop:</p>
                <iframe width="420" height="315" src="//www.youtube.com/embed/IdSpc0EZpnk" frameborder="0" allowfullscreen></iframe>

           <p>And how to use magic loop method for two socks at once.  It is possible to start two at a time from the cast
              on, but I find it much easier to cast on and knit each toe separately and start knitting both at once after that.</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/VP5yI4R2i5o" frameborder="0" allowfullscreen></iframe>


      </div>


          <div id="shortrows">
          <h3 class="anchorspace">Short rows</h3>

          <p>A nice straightforward tutorial on short rows and the wrapping and turning methods.</p>

          <iframe width="560" height="315" src="//www.youtube.com/embed/QuN8fwVthUY" frameborder="0" allowfullscreen></iframe>

        <br>
        <p>
            Also very detailed but recommended: Techknitter on <a href="http://techknitting.blogspot.co.uk/2009/10/short-rows-method.html">short row</a> techniques.
        </p>
      </div>


        <div id="castoffs">
          <h3 class="anchorspace">Stretchy Cast Offs</h3>
          <p>A toe-up sock is cast off at the cuff; it needs a nice elastic cast off that will keep your sock up but
          not be tight and make the sock hard to put on.  There are many different methods:</p>

          <ul>
             <li><a href="http://gettingpurlywithit.com/blog/zimmermans-sewn-bind">Elizabeth Zimmermann's sewn bind Off</a></li>
              <li><a href="http://techknitting.blogspot.co.uk/2008/01/tubular-cast-off-its-pretty.html">Tubular cast off</a></li>
              <li><a href="http://knitty.com/ISSUEfall09/FEATjssbo.php">Jeny's surprisingly stretchy bind off</a></li>
              <li><a href="http://slipslipknit.com/?page_id=92">Miraculous elastic cast off</a></li>
          </ul>

         My favourite is the Tubular (or Italian) cast off.  It is tricky, but it makes a really neat edge where the ribbing
          looks like it rolls over the top of the sock.
      </div>

        <br>


{% endblock content %}
